.hidden {
    display: none;
}

@font-face {
    font-family: PlayFair;
    src: url('../elements/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: Agrandir;
    src: url('../elements/Agrandir-WideBold.otf') format('opentype');
}

@font-face {
    font-family: AgrandirNormal;
    src: url('../elements/Agrandir-Bold.otf') format('opentype');
}

.text-center{
    display: flex;
    justify-content: flex-start;
    font-family:AgandirNormal;
    color: white;
    font-size: 3em;
}

.text-center1{
    display: flex;
    justify-content: flex-start;
    font-family:PlayFair;
    color: white;
    font-size: 1em;
    align-items: flex-start;
}

.btn-link{
    text-decoration: none;
    font-family:PlayFair;
    color: white;
    font-size: 1.2em;
    font-style: italic;
}

.btn-link:hover {
    color: #d7a9a8;
}

.btn-primary{
    color: white;
    border-color: white;
    border-style: solid;
    background-color: #7e102c;
    font-size: 1.5em;
    font-family: AgrandirNormal;
    font-size: 1.5em;
}

.btn-primary:hover{
    background-color:#d7a9a8 ;
    color: #7e102c;
    border-style: none;
    border-color: white
}

.flex-container {
    display: flex;
    align-items: center;
}

